a{
   color: deepskyblue;
}

.container{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.index{
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid silver;
}

.work-header{
    text-align: center;
}

.works{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.work-card{
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.work-image{
    height: 80px;
    width: 410px;
    object-fit: cover;
}

.work-text{
    text-align: left;
}